*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 112.5%;
}

body {
  font-family: sans-serif;
  overflow-wrap: break-word;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

@media screen and (min-width: 40rem) {
  html {
    font-size: 125%;
  }
}
