<nav>
  <span>Main Site: </span>
  <a href="/">Home</a>
  <a href="/blog">Blog</a>
</nav>
<slot />

<style>
  nav {
    color: #666;
    a {
      color: inherit;
      padding: 5px 10px;
    }
  }
</style>
